@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&family=Inter:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --main-bg: #fafaf9;
  --secondary-bg: #191109;
  --third-bg: #ffbf9b;
  --main-txt: #05003b;
  --secondary-txt: #8e8c97;
  --txt-white: #ffffff;
  --txt-black: #191109;
  --main-color-btn: #7562e1;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background-color: var(--main-bg);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  width: 100%;
}
.wrapper .navbar {
  z-index: 9999;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 50px;
  color: var(--txt-white);
}
.wrapper .navbar__logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.wrapper .navbar__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .navbar__list--items {
  padding: 12px 20px;
}
.wrapper .navbar__btn {
  padding: 12px 20px;
  background-color: var(--main-color-btn);
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid transparent;
}
.wrapper .navbar__btn a {
  width: 100%;
  height: 100%;
}
.wrapper .navbar__btn:hover {
  background-color: var(--main-bg);
  color: var(--main-color-btn);
  border: 2px solid var(--main-color-btn);
}
.wrapper .navbar.scrolled {
  background-color: var(--main-bg);
  color: var(--main-color-btn);
  border-bottom: 1px solid var(--main-color-btn);
}
.wrapper .navbar.scrolled .navbar__btn {
  color: var(--main-bg);
}
.wrapper .header {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: contrast(120%);
  background-color: black;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}
.wrapper .header__layout {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(1600px at 70% 120%, rgb(33, 39, 80) 10%, #020409 100%);
}
.wrapper .header__layout--bgcolor {
  width: inherit;
  height: inherit;
}
.wrapper .header__layout--bgcolor #universe {
  width: 100%;
  height: 100%;
}
.wrapper .header__layout--bgcolor #universe-footer {
  position: absolute;
  bottom: 0px;
  height: 300px;
  width: 100%;
}
.wrapper .header__layout--bgcolor #scene {
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -800px;
  z-index: 100000;
}
.wrapper .header__layout--content {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  z-index: 999;
  display: grid;
  grid-template-columns: 50% 50%;
}
.wrapper .header__layout--content .content-left {
  font-family: "Inter", sans-serif;
  color: var(--txt-white);
}
.wrapper .header__layout--content .content-left__subtitle {
  color: var(--main-color-btn);
  font-family: "Inter";
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  margin-bottom: 23px;
}
.wrapper .header__layout--content .content-left__title {
  font-family: "Inria Serif";
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  margin-bottom: 23px;
}
.wrapper .header__layout--content .content-left__title img {
  height: 50px;
}
.wrapper .header__layout--content .content-left__info {
  margin-bottom: 60px;
  color: var(--secondary-txt);
}
.wrapper .header__layout--content .content-left__btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  outline: 2px solid #fff;
  padding: 20px 60px;
  position: relative;
  overflow: hidden;
  transition: color 1s;
  cursor: pointer;
}
.wrapper .header__layout--content .content-left__btn:hover {
  color: #fff;
}
.wrapper .header__layout--content .content-left__btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 150%;
  height: 100%;
  background-color: #6a5af9;
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  z-index: -1;
  transition: transform 1s;
}
.wrapper .header__layout--content .content-left__btn:hover::before {
  transform: scaleX(1) skewX(35deg);
}
.wrapper .header__layout--content .content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .header__layout--content .content-right__img-ava {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapper .main .about {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 30% 70%;
}
.wrapper .main .about .about-left__subtitle {
  color: var(--main-color-btn);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
.wrapper .main .about .about-left__title {
  font-family: "Inria Serif", serif;
  font-size: 40px;
  font-weight: bold;
  max-width: 400px;
  margin-bottom: 50px;
}
.wrapper .main .about .about-left__img {
  position: relative;
  border: 2px solid transparent;
  border-radius: 4px;
  background-clip: padding-box;
  background-color: var(--main-bg);
}
.wrapper .main .about .about-left__img img {
  width: 100%;
  height: auto;
  image-rendering: pixelated;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper .main .about .about-left__img:before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  margin: -2px;
  background-image: linear-gradient(to right top, #2979ff, #07a787);
  border-radius: inherit;
}
.wrapper .main .about .about-right {
  margin: 30px 0 0 100px;
}
.wrapper .main .about .about-right__content {
  color: var(--secondary-txt);
  font-family: "Inria Serif", serif;
  font-size: 20px;
  max-width: 800px;
  margin-bottom: 100px;
}
.wrapper .main .about .about-right__more {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.wrapper .main .about .about-right__more--list {
  margin-right: 26px;
}
.wrapper .main .about .about-right__more--list .items {
  max-width: 384px;
  margin-bottom: 30px;
}
.wrapper .main .about .about-right__more--list .items i {
  color: var(--main-color-btn);
  letter-spacing: 4px;
  margin-bottom: 10px;
  font-weight: bold;
}
.wrapper .main .about .about-right__more--list .items div {
  color: #7c7b81;
}
.wrapper .main .banner {
  width: 100%;
  background-color: var(--main-color-btn);
  font-family: "Inria Serif", serif;
  color: var(--main-bg);
  padding: 60px 0;
}
.wrapper .main .banner__slider {
  text-align: center;
}
.wrapper .main .banner__slider--title {
  margin-bottom: 10px;
  font-size: 40px;
}
.wrapper .main .banner__slider--subtitle {
  margin-bottom: 40px;
  font-size: 18px;
}
.wrapper .main .banner__slider--items {
  height: 360px;
}
.wrapper .main .banner__slider--items img {
  width: 100%;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.wrapper .footer {
  background-color: var(--secondary-bg);
  text-align: center;
  color: var(--secondary-txt);
  font-size: 14px;
  padding: 10px;
}

.slick-initialized .slick-slide {
  margin: 0 10px;
}

.puff-in-center {
  animation: puff-in-center 1s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
@media screen and (max-width: 1460px) {
  .header__layout--content {
    padding: 0 100px !important;
  }
  .main .about {
    margin-left: 16px !important;
    margin-right: 16px !important;
    width: calc(100% - 32px) !important;
  }
}
@media screen and (max-width: 1068px) {
  .header__layout--content {
    text-align: center;
    padding: 0 16px !important;
    display: block !important;
  }
  .header__layout--content .content-right {
    display: none !important;
  }
  .main .about {
    display: block !important;
  }
  .main .about .about-left__img {
    margin: 0 auto !important;
  }
  .main .about .about-right {
    margin: 0 auto !important;
  }
  .main .about .about-right__content {
    margin-top: 20px;
    max-width: 100% !important;
    text-align: center;
  }
}
@media screen and (max-width: 608px) {
  .navbar {
    padding: 14px 16px !important;
  }
  .navbar__list {
    display: none !important;
  }
  .content-left__subtitle,
  .content-left__title {
    font-size: 40px !important;
  }
  .content-left__title img {
    height: 30px !important;
  }
  .main .about .about-right {
    font-size: 14px !important;
  }
  .main .about .about-right__more {
    display: block !important;
  }
  .main .about .about-right__more--list {
    margin-right: 0px;
  }
  .main .about .about-right__more--list .items {
    max-width: 100% !important;
  }
}/*# sourceMappingURL=style.css.map */